@model Crud.Models.aluno

@{
    ViewBag.Title = "Details";
}

<h2>Informações do Aluno</h2>

<div>
    <
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Ver Lista", "Index")
</p>
